<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <h2>About Yourself</h2>
  <%= f.input :description %>

  <div class="actions">
    <%= link_to "Cancel", profile_path(@profile) %>
    <%= f.button :submit %>
  </div>
<% end %>
