<div id="signin-container">
  <form accept-charset="UTF-8" action="/en/users/sign_in" method="post">
  	<!--<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
  		<input name="authenticity_token" type="hidden" value="9WpFhSViP+rfJVKuA+lMrfq8Iu6vE3bbx9UZ+Y7jrao=" />
  	</div>-->
    <div>
      <div>
      	<label for="user_email">Email</label>
      	<input autofocus="autofocus" maxlength="255" name="user[email]" size="50" type="email" value="" />
      <div>
      <div>
        <label for="user_password"> Password <a href="/en/users/password/new">(Forgot password)</a></label>
      	<input name="user[password]" size="50" type="password" value="" />
      </div>
      <!--<div class="input boolean optional"><input name="user[remember_me]" type="hidden" value="0" /><input class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /><label class="boolean optional" for="user_remember_me"> Remember me</label></div>
      -->
    </div>

    <div>
      <input class="button" id="user_submit" name="commit" type="submit" value="Sign in" />
      <a href="/en/users/sign_up">or Create Account</a>
    </div>
</form></div>
<!--
  <a href="/en/users/sign_up">Sign up</a><br />

  <a href="/en/users/password/new">Forgot your password?</a><br /> -->
<!--
  <h2>Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="inputs">
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Sign in" %>
    </div>
  <% end %>
</div>
<%= render :partial => "devise/shared/links" %>
-->