<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%=h f.input :first_name %>
    <%=h f.input :last_name %>
    <%=h f.input :email %>
    <%=h f.input :zip_code, :input_html => {:size => 10, :maxLength => 10} %>
    <%= f.input :language, :label => t(:preferred_language_label), :collection => LANGUAGES.invert, :include_blank => false %>
  </div>

  <div class="actions">
  	<%= content_tag :button, :type => :submit, :class => "button-action-1" do -%><%=t :update_button%><% end -%>
  	<%= link_to t(:cancel_button), user_path(current_user) %>
  </div>
<% end %>
