<div class="content-body" align="center">
  <h2><%=t :forgot_password_header%></h2>
  <p><%=t :forgot_password_desc%></p>
  <div class="rounded-box-with-shadow" id="reset-password-container">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.error_notification %>
      <div class="inputs">
        <%= f.input :email, :required => true %>
      </div>
      <div class="actions">
      	<%= content_tag :button, :type => :submit, :class => "button-action-1" do -%><%=t :submit_button%><% end -%>
      	<%= link_to t(:forgot_password_sign_in_button), new_user_session_path %>
      </div>
      <% end %>
   </div>
</div>
