<%= simple_form_for @post do |f| %>
  <%= f.error_notification %>
  
  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :description, :form_class => "formatted-input" %>
  </div>
  
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>