<div id="post-main-content">
  <div class="rounded-box-with-shadow" id="search-container">
    <h1><%= t :search_box_header_1 %></h1>
    <h2><%= t :search_box_header_2%></h2>
    <%= render :partial => "search" %>
  </div>

  <%- if request.fullpath == root_path or request.fullpath == "/" %>
    <div class="rounded-box-with-shadow" id="employer-box">
      <h3><%=t :salon_employer_header %></h3>
      <p><%=t :salon_employer_desc_1 %></p>
      <p><%=t :salon_employer_desc_2 %></p>
      <form method="link" action="<%=new_post_path%>">
        <%= content_tag :button, :type => :submit, :class => "button-action-1" do -%><%=t :create_free_post_button %><% end -%>
      </form>
    </div>
  <%- else -%>
    <%- if @posts and !@posts.empty? -%>
      <div id="search_result"><h3><%=t :search_results_header %></h3></div>
      <div class="rounded-box-with-shadow" id="search-results">
      	<table class="postlist">
          <% @posts.each do |post| %>
            <tr>
              <td>
                <div class="search-post" id="search-post-<%= post.id %>">
                  <%= link_to post.title, post_path(post) %> 
                   <p><%= post.business_name %> - <%= post.address_city %>, <%= post.address_state %>
                   	<span class="when"><%= l post.created_at, :format => :day_month_year %></span>
                   </p>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
       </div>
     <%- else -%>
       <div id="search_result"><h3><%=t :search_results_not_found %></h3></div>
     <%- end -%>
  <%- end -%>
</div>
