<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name, :autofocus => true  %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, :label => "Retype Password", :required => true %>
    <%= f.input :zip_code, :as => :string, :length => 8, :input_html => { :size => 8, :maxLength => 5 } %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
