<div class="content-body" align="center">
<h2>Create a new account with SalonPals</h2>
<div id="signup-container">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name, :autofocus => true  %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, :label => "Retype Password", :required => true %>
    <%= f.input :zip_code, :input_html => { :size => 9, :maxLength => 9 }, :label_html => { :id =>"zip_code_label"} %>
    <%= f.input :language, :label => "Your Preferred Language", :label_html => { :id =>"language_label"}, :collection => LANGUAGES.invert, :include_blank => false %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
</div>
</div>
<!--
<%= render :partial => "devise/shared/links" %>
-->